# dependencies
node_modules
.pnpm-store

# next.js
.next
out
.vercel

# env files
.env
.env.local
.env.development
.env.production
.env.test

# prisma
prisma/dev.db
prisma/dev.db-journal

# uploads
uploads

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
